*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FDF6F6;
	font-family: 微软雅黑;
}

.container{
	width: 75%;
	margin: 0px auto;
}
.header{
	height: 70px;
	padding-top: 20px;
}
.logo{
	font-size: 30px;
	color: #C1AF7B;
	float: left;
}

.header nav{
	float: left;
	margin-left: 50px;
	margin-top: 7px;
}

.header img{
	float: right;
	border-radius: 15px;
	width: 30px;
	border-shadow:0 1px 1px rgba(0,0,0,0.2);
	height: 30px;
}
.header li{
	margin: 5px;
	list-style-type: none;
	display: inline;
}
a:link,a:visited{
	font-weight:blod;
	padding:6px;
	text-decoration: none;
	font-size: 18px;
	color: #A7A0A1;
}
a:hover{
	color:#333;
}

.header input{
	height: 26px;
	float: right;
	width: 150px;
	border-radius: 13px;
	margin-right: 50px;
}

.wrapper{
	height: 1000px;
	background-color:  #F5E6D2;
}

.footer{
	height: 100px;
	background-color: #A1A1A1;
	text-align: center;
}